@import './reset.scss';
@import './variables.scss';
@import './breakpoints.scss';
@import './common.scss';

@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');
@import './menu.scss';
// container-class
[class*='__container'] {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  @include tablet {
    padding: 0 40px;
  }

  @include desktop {
    padding: 0 80px;
  }
  @include desktopL {
    padding: 0 100px;
  }
}
[class*='__border'] {
  margin: 0 auto;
  max-width: $desktopLarge;
  width: 100%;
  padding: 50px 20px;

  @include tablet {
    padding: 100px 40px;
  }

  @include desktop {
    padding: 100px 80px;
  }
  @include desktopL {
    padding: 100px 100px;
  }
}

// header sticky class add JS code
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.sticky-top {
  padding-top: 116px;
}

.menu.open {
  display: block;
}

// header-class
.contacts {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 56px; // height of header-contacts
  font-size: 16px;
  line-height: 24px;

  &__info {
    a {
      white-space: nowrap;
      margin-right: 24px;
      transition: all 0.3s ease 0s;

      &:hover {
        color: $color-orange;
      }
    }
  }

  &__scls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &__link {
    line-height: 24px;
    display: flex;
    gap: 14px;
    transition: color 0.3s ease 0s, transform 0.3s ease 0s;

    &::before {
      font-size: 24px;
    }

    &:hover {
      color: $color-orange;
      transform: translateX(4px);
    }
  }

  @include tablet {
    display: flex;
  }

  @include desktop {
    &__info {
      a {
        margin-right: 32px;
      }
    }
    &__scls {
      li {
        &:not(:last-child) {
          margin-right: 32px;
        }
      }
    }
  }
}

// header fixed
.header {
  background: $color-default-black;
  border-bottom: 1px solid #c6c6c68e;

  &__call {
    display: block;
    line-height: 40px;
    background: $color-secondary-black;
    text-align: center;

    @include tablet {
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

    @include tablet {
      height: 116px;
    }
  }

  &__btn {
    display: none;
    @include tablet {
      display: block;
    }
  }

  &__logo {
    font-size: 24px;
    @include tablet {
      font-size: 36px;
    }

    @include desktop {
      font-size: 40px;
    }

    @include desktopL {
      font-size: 50px;
    }
  }

  &__list {
    display: none;

    @include tablet {
      display: flex;
      li {
        padding: 8px 8px;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 4px;
        }

        a {
          font-size: 16px;
          white-space: nowrap;
        }
      }
    }

    @include desktop {
      li {
        padding: 8px 14px;

        &:not(:last-child) {
          margin-right: 6px;
        }

        a {
          font-size: 18px;
          white-space: nowrap;
        }
      }
    }

    @include desktopL {
      li {
        padding: 8px 20px;

        &:not(:last-child) {
          margin-right: 8px;
        }

        a {
          font-size: 20px;
          white-space: nowrap;
        }
      }
    }
  }

  &__logo,
  &__list li {
    transition: color 0.3s ease 0s, transform 0.3s ease 0s;

    &:hover {
      color: $color-orange;
      transform: translateX(4px);
    }
  }

  &__menu-btn {
    width: 32px;
    height: 32px;

    @include tablet {
      display: none;
    }
  }
}

// menu class
.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100vh;
  background: $color-default-black;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid #c6c6c68e;
    padding: 0 20px;
  }
  &__anchors,
  &__contacts {
    padding: 32px 20px 24px 20px;
  }
  &__anchors {
    li {
      font-size: 18px;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  &__btn {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 32px;

    button {
      width: 100%;
    }
  }
  &__contacts {
    background: $color-secondary-black;
    li {
      font-size: 14px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      a {
        display: flex;
        align-items: center;

        gap: 10px;
        &::before {
          font-size: 18px;
        }
      }
    }
  }
}

// main-class
.main {
  display: grid;
  grid-template-columns: 1fr;
  max-height: 845px;
  overflow: hidden;

  @include tablet {
    grid-template-columns: 46% 1fr;
  }

  &__content {
    text-align: center;
    padding: 50px 15px 50px 15px;

    @include tablet {
      padding: 100px 15px 100px 40px;
      max-width: 597px;
      text-align: left;
    }

    @include desktop {
      padding-left: 80px;
    }

    @include desktopL {
      padding-left: 100px;
    }
  }

  &__layout {
    padding-top: 32px;
    padding-bottom: 34px;
    font-size: 16px;

    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    @include tablet {
      padding-top: 40px;
      padding-bottom: 142px;
      font-size: 20px;

      p {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
  figure {
    display: none;
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include tablet {
      display: block;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 16px;

    button {
      width: 240px;
    }

    @include tablet {
      flex-direction: row;
      gap: 8px;

      button {
        width: auto;
      }
    }

    @include desktop {
      gap: 24px;
    }
  }
}

// items class
.items {
  scroll-margin-top: 112px;
  padding: 50px 0;

  h2 {
    max-width: 684px;
    margin: 0 auto 32px auto;
    text-align: center;
  }

  @include tablet {
    padding: 100px 0;
    h2 {
      margin-bottom: 80px;
    }
  }

  &__wrapper {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: auto;
    gap: 8px;

    @include tablet {
      padding: 0 40px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include desktop {
      padding: 0 80px;
    }
    @include desktopL {
      padding: 0 100px;
    }

    li {
      min-width: 234px;
      height: 100%;
      position: relative;

      @include mobileM {
        min-width: 300px;
      }
    }
  }

  figure {
    padding-bottom: 63%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &:hover {
      img {
        transform: scale(1.02);
      }
    }
  }

  &__link-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $color-secondary-black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    div {
      max-width: 240px;
    }
    p {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 40px;
    }

    @include tablet {
      p {
        font-size: 24px;
      }
    }
  }

  &__link {
    display: block;
    height: 67px;
    background: $color-secondary-black;
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    align-items: center;
    padding: 0 20px;
    transition: background 0.3s ease 0s;

    span {
      font-size: 18px;
      line-height: 24px;
      color: $color-default-white;
      text-transform: uppercase;
    }

    i {
      display: none;
    }

    &:hover {
      background: $color-orange;
    }

    @include tablet {
      height: 116px;

      i {
        display: block;
        font-size: 8px;
      }

      span {
        font-size: 20px;
      }
    }
    @include desktop {
      padding: 0 57px;

      i {
      }

      span {
        font-size: 24px;
      }
    }
  }
}

.features {
  scroll-margin-top: 112px;
  padding: 50px 0;

  &__block {
    figure {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__content {
    padding: 32px 20px 40px;

    time {
      font-size: 18px;
    }
  }

  &__text {
    margin-top: 16px;
    margin-bottom: 16px;
    color: $color-text;
    line-height: 150%;
    font-size: 16px;
  }

  @include mobileM {
    &__block {
      display: flex;
      overflow: hidden;
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      figure {
        flex: 0 0 56%;
        position: relative;
        padding-bottom: 20%;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__content {
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @include tablet {
    padding: 100px 0;

    &__block {
      height: 500px;
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }
    &__block.reverse {
      flex-direction: row-reverse;
    }
    &__content {
      padding-left: 40px;
      padding-right: 40px;
    }

    &__text {
      font-size: 20px;
    }
  }

  @include desktop {
    &__content {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

// team-class
.team {
  scroll-margin-top: 112px;
  padding: 50px 0;

  h2 {
    max-width: 684px;
    text-align: center;
    margin: 0 auto;
  }

  ul {
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 0 auto;
  }

  figure {
    position: relative;
    padding-bottom: 110%;
    min-width: 234px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__position {
    color: $color-text;
    text-align: center;
    padding-top: 16px;
    font-size: 14px;
  }

  &__name {
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    padding-top: 8px;
    text-transform: uppercase;
  }

  &__swiper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    overflow-x: auto;
  }

  @include tablet {
    padding: 100px 0;

    ul {
      padding-top: 80px;
    }
    &__position {
      font-size: 20px;
      padding-top: 32px;
    }

    &__name {
      font-size: 32px;
      padding-top: 16px;
    }

    &__swiper {
      overflow: visible;
    }
  }

  &__btn-prev,
  &__btn-next {
    display: none;
    position: absolute;

    @include tablet {
      display: block;
    }
  }

  &__btn-prev {
    top: 50%;
    left: -150px;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }

  &__btn-next {
    top: 50%;
    right: -150px;
    transform: translateY(-50%);
  }
}

.gallary {
  scroll-margin-top: 112px;
  padding: 50px 0;

  &__wrapper {
    display: grid;
    grid-template-areas:
      'photo1 photo2'
      'photo3 photo3'
      'photo3 photo3'
      'photo4 photo4'
      'photo4 photo4'
      'photo5 photo6';
  }

  figure {
    position: relative;
    padding-bottom: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include tablet {
    padding: 100px 0;

    &__wrapper {
      grid-template-areas:
        'photo1 photo2 photo3 photo3'
        'photo4 photo4 photo3 photo3'
        'photo4 photo4 photo5 photo6';
    }
  }
}

// about-class
.about {
  scroll-margin-top: 112px;
  padding: 50px 0;
  overflow: hidden;
  figure {
    position: relative;
    padding-bottom: 89%;

    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 50px 20px 0;
    margin: auto;

    p {
      margin-top: 24px;
      font-size: 18px;
      line-height: 150%;
      color: $color-text;
    }
  }

  @include mobileM {
    padding: 0;
    min-height: 800px;
    display: grid;
    grid-template-columns: 1fr 0.77fr;

    &__content {
      padding: 0px 20px 0 30px;
      p {
        margin-top: 40px;
        font-size: 21px;
      }
    }
  }

  @include tablet {
    &__content {
      p {
        margin-top: 40px;
        font-size: 24px;
      }
    }
  }

  @include desktop {
    &__content {
      margin: auto;
      max-width: 477px;
      padding-top: 0;
    }
  }
}

// comments-class
.comments {
  scroll-margin-top: 112px;
  padding: 50px 0;
  li {
    text-align: center;
    position: relative;
  }
  h2 {
    margin: 0 auto;
    max-width: 684px;
  }

  &__range {
    padding-top: 32px;
  }

  &__range {
    i {
      font-size: 32px;
      color: $color-orange;
      letter-spacing: 8px;
    }
  }

  &__text {
    max-width: 722px;
    margin: 0 auto;
    color: $color-text;
  }

  &__name {
    text-transform: uppercase;
  }

  &__text,
  &__name {
    padding: 24px 20px 0;
    font-size: 18px;
    line-height: 150%;
  }

  &__resource {
    padding-top: 16px;
    line-height: 150%;
  }

  &__btn-prev {
    transform: rotate(180deg);
  }

  &__btn-next {
    right: 0;
  }
  &__btn-prev,
  &__btn-next {
    display: none;
  }

  @include tablet {
    padding: 100px 0;
    &__text,
    &__name {
      font-size: 18px;
      padding-top: 40px;
    }

    &__btn-prev,
    &__btn-next {
      display: block;
      position: absolute;
      top: 50%;
      img {
        transition: all 0.3s ease 0s;
      }
    }
    &__btn-prev {
      left: 20px;
    }
    &__btn-next {
      right: 20px;
    }
    &__range {
      padding-top: 80px;
    }
  }
  @include desktopL {
    &__text {
      max-width: 922px;
    }
  }
}

// ----
.main {
  display: grid;
  grid-template-columns: 1fr;
  max-height: 845px;
  overflow: hidden;

  @include tablet {
    grid-template-columns: 46% 1fr;
  }

  &__content {
    text-align: center;
    padding: 50px 15px 50px 15px;

    @include tablet {
      padding: 100px 15px 100px 40px;
      max-width: 597px;
      text-align: left;
    }

    @include desktop {
      padding-left: 80px;
    }

    @include desktopL {
      padding-left: 100px;
    }
  }

  &__layout {
    padding-top: 32px;
    padding-bottom: 34px;
    font-size: 16px;

    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    @include tablet {
      padding-top: 40px;
      padding-bottom: 142px;
      font-size: 20px;

      p {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
  figure {
    display: none;
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include tablet {
      display: block;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 16px;

    button {
      width: 240px;
    }

    @include tablet {
      flex-direction: row;
      gap: 8px;

      button {
        width: auto;
      }
    }

    @include desktop {
      gap: 24px;
    }
  }
}
// ----

// visit-class
.visit {
  display: grid;
  grid-template-columns: 1fr;
  // max-height: 800px;
  overflow: hidden;

  &__content {
    order: 2;
    text-align: center;
    padding: 50px 15px 50px 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info {
  }

  address {
    padding-top: 24px;
    padding-bottom: 24px;

    a {
      display: block;
      transition: color 0.3s ease 0s, transform 0.3s ease 0s;

      &:hover {
        color: $color-orange;
        transform: translateX(4px);
      }

      &::before {
        font-size: 20px;
        margin-right: 8px;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__layout {
    line-height: 150%;

    p {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__btn {
    margin-top: 50px;
  }

  figure {
    order: 1;
    position: relative;
    padding: 0 0 100% 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include tablet {
    grid-template-columns: 46% 1fr;

    &__content {
      @include tablet {
        padding: 100px 15px 100px 40px;
        max-width: 597px;
        order: 1;
      }
    }
    figure {
      order: 2;
    }
    address {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__btn {
      margin-top: 162px;
    }
  }

  @include desktop {
    &__content {
      padding-left: 80px;
    }
  }

  @include desktopL {
    &__content {
      padding-left: 100px;
    }
  }
}

// footer-class
footer {
  height: 100px;
  p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 150%;
  }
}

.items,
.features,
.about,
.team,
.gallary,
.comments,
.visit,
footer {
  border-top: 1px solid #c6c6c68e;
}
