@import './reset.scss';
@import './variables.scss';
@import './breakpoints.scss';
@import './common.scss';

.categories {
  text-transform: uppercase;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
  min-width: $desktop;
  border-bottom: 1px solid $color-stroke;

  @include tablet {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;
  }
  @include desktop {
    padding-left: 80px;
  }
  @include desktopL {
    padding-left: 100px;
  }
}

.dishes {
  &:last-child {
    border-bottom: none;
  }
  border-bottom: 1px solid $color-stroke;
  ul {
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 24px;
  }
  @include tablet {
    ul {
      grid-template-columns: 1fr 1fr;

      padding-top: 59px;
      column-gap: 32px;
      row-gap: 48px;
    }
  }
}

.dish {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  overflow: hidden;
  // max-height: 32px;
  min-height: 100px;
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__descr {
    margin-top: 18px;
    font-size: 14px;
    line-height: 150%;
    color: $color-text;
    overflow: hidden;
  }

  &__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }

  figure {
    min-width: 100%;
    min-height: 100%;

    img {
      width: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }

  @include mobileS {
    grid-template-columns: 1fr 1fr;
  }

  @include mobileM {
    gap: 32px;
  }

  @include tablet {
    &__descr {
      font-size: 20px;
    }
    &__price {
      font-size: 40px;
    }
  }
}
