// color-variables
$color-default-black: #0a0b0a;
$color-secondary-black: #1a191b;
$color-default-white: #ffffff;
$color-orange: #d24509;
$color-stroke: #c6c6c6;
$color-text: #b9b9b9;

// size-variables
$size-large: 144px;
$size-small: 48px;
$size-medium: 96px;
$size-xlarge: 192px;
$size-xsmall: 16px;
$size-xxlarge: 288px;
$size-maxwidth: 1400px;

// space-variables
$space-halfunit: 8px;
$space-unit: 16px;
$space-oneandhalfunits: 24px;
$space-twounits: 32px;
$space-threeunits: 48px;
$space-fourunits: 64px;
$space-fiveunits: 80px;
$space-sixunits: 96px;

$space-desktopLarge: 100px;

// radius-variables
$radius-round: 50%;
$radius-radius2: 2px;
$radius-radius4: 4px;
$radius-radius8: 8px;

// width-variables
$mobileSmall: 479.98px;
$mobileMedium: 767.98px;
$tablet: 991.98px;
$desktop: 1199.98px;
$desktopLarge: 1599.98px;

// font-variables
$fontFamily: 'Lora', serif;
$fontSize: 20px;
